html, body {
  height: 100%;
  width: 100%;
}
/*TEXT*/ 
*{margin: 3px;
  padding: 3px;
 text-align: center;
 font-family: Playfairdisplay.ttf;}
body main h1 h2 p {
background-color: whitesmoke;
  text-align: center;} 
h1 h2 h3 {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {background-color:#d1cfd0}
  to{background-color: grey}
}
/*BUTTON*/ 
ul {list-style-type: none;
    background-color: grey;
   border:5px #d1cfd0
   overflow: hidden;
   padding: 1em;}

li {display: inline;}
li a {text-decoration: none;
     color: whitesmoke;
     padding: 1em;}
li a:hover {background-color: #d1cfd0;
           padding: .2em;}
.vr:hover {list-style-type: none; overflow: hidden; background-color: grey; border: 2px grey;}
.vr {list-style-type: none; color: grey; text-decoration: none; padding: 1em; font-size: 1.3em;}
padding: .2em;}

#youtube {text-align:center;
border: 5px solid grey;}

img {border-radius:10%;
           border:5px solid grey}

/*IMAGE ALIGN*/ 
#image {overflow:hidden; display: inline;}

@media screen and (max-width: 850px) {
  .flex-container{
    flex-wrap: wrap;
  }
}


/* Style the overlay */
#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  font-weight: bold;
  z-index: 2;
  cursor: pointer;
  text-align: center;
 align-content: center;
}
